@import "tailwindcss";

:root {
    --primary: #2e7d32;
    --secondary: #8d6e63;
    --bg: #f1f8e9;
    --chat-bg: #ffffff;
}

@theme {
  --font-sans: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg);
    margin: 0;
}

.sidebar {
    background: var(--primary);
}

.bot-msg {
    background: #e8f5e9;
    color: #1b5e20;
}

.user-msg {
    background: var(--primary);
    color: white;
}

strong { 
    color: #d84315; 
}
